extends layout

block content
	h1= title
	h3 Log in:
	form(action = "/api/user/login" method = "POST")
		p Email: 
			input(name = "email" type = "email" required placeholder = "your@mail.com" value = "test@email.com")
		p Password:
			input(name = "password" type = "password" required placeholder = "my password" value = 12345)
		button(type = "Submit") Sign In
	h3 Sign up:
	form(action = "/api/user/register" method = "POST")
		p Email: 
			input(name = "email" type = "email" required placeholder = "your@mail.com" value = "test@email.com")
		p Password: 
			input(name = "password" type = "password" required placeholder = "my password" value = 12345)
		p Nick name: 
			input(name = "nickname" type = "nick" required placeholder = "my nick name" value = "Mr. Ba!d")
		p Birth date: 
			input(name = "birthdate" type = "date" required value = "1970-01-01")
		button(type = "Submit") Sign Up
		bl
	h3 Change Password:
	form(action = "/api/user/changepassword" method = "POST")
		p Email: 
			input(name = "email" type = "email" required placeholder = "your@mail.com" value = "test@email.com")
		p Password:
			input(name = "oldPassword" type = "password" required placeholder = "Old password" value = 12345)
		p New password
			input(name = "newPassword" type = "password" required placeholder = "New password" value = 12345)
		button(type = "Submit") Sign In
	if(message)
		p #{message}
